<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Конвертер</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>

        <div>
            <form th:action="@{/stats}" method="post">
                <tr>
                    <td>
                        <select name="kind" >
                            <option value="requests">
                                Показать запросы
                            </option>
                            <option value="users">
                                Показать пользователей
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <p>Убрать данные, где конвертация была меньше чем:</p>
                </tr>
                <tr>
                    <td>
                        <select name="currency" id="currencyTo" >
                            <option th:each="list : ${courses}" th:value="${list}" th:text="${list}"></option>
                        </select>
                    </td>
                    <td>
                        <input type="number"  min="0" step="0.01" name="amount" required>
                    </td>
                    <td>
                        <input type="submit" value="show requests">
                    </td>
                </tr>
            </form>
        </div>
        <div th:switch="${users}">
            <div th:case="null">

            </div>
            <div th:case="*">
                <table border="1" bordercolor="black">
                    <thead>
                    <tr>
                        <th>Id пользователя</th>
                        <th>Имя пользователя</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : *{users}">
                        <td><span th:text="${user.getId()}">  </span></td>
                        <td><span th:text="${user.getUsername()}">  </span></td>

                    </tbody>
                </table>
            </div>
        </div>

        <div th:switch="${requests}">
            <div th:case="null">

            </div>
            <div th:case="*">
                <table border="1" bordercolor="black">
                    <thead>
                    <tr>
                        <th>Id запроса</th>
                        <th>Сумма в рублях</th>
                        <th>Основная валюта</th>
                        <th>Целевая валюта</th>
                        <th>Id пользователя</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="request : *{requests}">
                        <td><span th:text="${request.getId()}">  </span></td>
                        <td><span th:text="${request.getAmount()}">  </span></td>
                        <td><span th:text="${request.getCurrencyFrom()}">  </span></td>
                        <td><span th:text="${request.getCurrencyTo()}">  </span></td>
                        <td><span th:text="${request.getUser().getId()}">  </span></td>
                    </tbody>
                </table>
            </div>
        </div>

</body>
</html>